<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <title>Spring Data Example</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="panel-group col-xs-offset-3 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>User Login</h4></div>
        <div class="panel-body"><td th:text="${portalUser.login}"/></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>User Name</h4></div>
        <div class="panel-body">
            <span style="vertical-align:-33%"><td th:text="${portalUser.firstName +' '+ portalUser.lastName}"/></span>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>User Email</h4></div>
        <div class="panel-body">
            <span style="vertical-align:-33%"><td th:text="${portalUser.email}"/></span>
            <button id="btn-editEmail" type="button" data-toggle="modal" data-target="#emailModal" class="btn pull-right middle btn-primary"><span class="glyphicon glyphicon-pencil"></span>  Edit</button>
        </div>
        <div class ="clearfix"></div>
    </div>
</div>

<div th:replace="fragments/footer :: footer" />
</body>
</html>