<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <title>Spring Data Example</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="starter-template">
        <h1>Spring Boot Data + Security</h1>
        <h2 sec:authorize="hasAuthority('ADMIN')">1. <a th:href="@{/admin/page}">Visit  Admin Page</a></h2>
        <h2 sec:authorize="hasAuthority('USER')">2. <a th:href="@{/user}">Visit User Page</a></h2>
    </div>
</div>

<div th:replace="fragments/footer :: footer" />
</body>
</html>