<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>FORMULA</title>

    <link th:rel="stylesheet" th:href="@{/assets/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/css/bootstrap-datepicker.standalone.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">FORMULA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs12 col-sm8 col-md6 col-sm-offset-2 col-md-offset3">
            <form th:action="@{saveForm}" th:object="${form}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>
                            <select class="form-control" th:field="*{inbounds}">
                                <option value="0">Select Inbound Location</option>
                                <option th:each="inbound : ${inbounds}" th:value="${inbound.id}"
                                        th:text="${inbound.location}"></option>
                            </select>
                        </label>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>
                            <select class="form-control" th:field="*{binFeatures}">
                                <option value="0">Select BIN type</option>
                                <option th:each="binFeature : ${binsFeatures}" th:value="${binFeature.id}"
                                        th:text="${binFeature.name}"></option>
                            </select>
                        </label>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-dumpster"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>
                            <input type="text" th:field="*{amount}"
                                   class="form-control input-lg"
                                   placeholder="Amount"
                                   required="true">
                        </label>
                        <span th:if="${#fields.hasErrors('amount')}"
                              th:errors="*{amount}"
                              class="text-danger">
                            Amount Error
                        </span>
                        <span class="input-group-addon"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>
                            <select class="form-control" th:field="*{inbounds}">
                                <option value="0">Select Type of Inbound</option>
                                <option th:each="inbound : ${inbounds}" th:value="${inbound.id}"
                                        th:text="${inbound.type}"></option>
                            </select>
                        </label>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-truck-loading"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>
                            <select class="form-control" th:field="*{trucks}">
                                <option value="0">Select Type of Trailer</option>
                                <option th:each="truck : ${trucks}" th:value="${truck.id}"
                                        th:text="${truck.trailerType}"></option>
                            </select>
                        </label>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-truck-moving"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>
                            <input type="date" th:field="*{inbounds}"
                                   class="form-control input-lg"
                                   placeholder="checkedAt"
                                   required="true">
                        </label>
                        <span th:if="${#fields.hasErrors('inbounds')}"
                              th:errors="*{checkedAt}"
                              class="text-danger">
                            Date Error
                        </span>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>
                            <input type="text" th:field="*{trucks}"
                                   class="form-control input-lg"
                                   placeholder="regNumber"
                                   required="true">
                        </label>
                        <span th:if="${#fields.hasErrors('trucks')}"
                              th:errors="*{regNumber}"
                              class="text-danger">
                                  Registration No. Error
                                </span>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" value="Form">PROCEED</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/bootstrap-datepicker.js}"></script>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>

</body>
</html>