<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <title>Spring Data Example</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs12 col-sm8 col-md6 col-sm-offset-2 col-md-offset3">
            <form th:action="@{/user/register}" th:object="${portalUser}" method="post">
                <fieldset>
                    <h1>Please Provide account details</h1>
                    <div class="form-group">
                        <input type="text" th:field="*{login}"
                               class="form-control input-lg"
                               placeholder="Login"
                               required="true"
                               autofocus="true">
                        <span th:if="${#fields.hasErrors('login')}"
                              th:errors="*{login}"
                              class="text-danger">
                            Login Error
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{email}"
                               class="form-control input-lg"
                               placeholder="Email"
                               required="true">
                        <span th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}"
                              class="text-danger">
                            Email Error
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{firstName}"
                               class="form-control input-lg"
                               placeholder="First Name"
                               required="true">
                        <span th:if="${#fields.hasErrors('firstName')}"
                              th:errors="*{firstName}"
                              class="text-danger">
                            First Name Error
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{lastName}"
                               class="form-control input-lg"
                               placeholder="Last Name"
                               required="true">
                        <span th:if="${#fields.hasErrors('lastName')}"
                              th:errors="*{lastName}"
                              class="text-danger">
                            Last Name Error
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" th:field="*{password}"
                               class="form-control input-lg"
                               placeholder="Password"
                               required="true">
                        <span th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}"
                              class="text-danger">
                            Password Error
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sign Up">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer" />
</body>
</html>